.barra-ricerca{
width: 50px;
justify-content: flex-end;
}

.logo {
    width: 120px;
    height: 100px;
    marging top: 10px;
    border-radius: 20%;
    position: :end

}

.col-3{
    justify-content: flex-end;
}

h1{
 justify-content: center;
 text-align: center;
 font-size: 30px;
 font-weight: 900;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h2{
    justify-content: flex-end;
    font-weight: 700;
}

    .calistoga-regular {
        font-family: "Calistoga", serif;
        font-weight: 400;
        font-style: normal;
      }
      
.carousel{
    justify-content: center;

}  
  
  




  
  
      
      
      
    

















